/* @media (max-width: 1070px) {
      
} */
 @media (max-width: 470px) {
    .logo-container p {
        display: none;
    }
 }

 @media (max-width: 600px) {
    .body-container {
        margin-left: -100px;
    }
 }
 @media (max-width: 490px) {
    .body-container {
        margin-left: -150px;
    }
 }
 @media (max-width: 445px) {
    .body-container {
        margin-left: -180px;
    }
 }
 @media (max-width: 410px) {
    .body-container {
        margin-left: -200px;
    }
 }